
body {
    padding: 20px;
    width: 650px;
}

form fieldset {
    margin-bottom: 10px;
}

form label {
    float: left;
    margin-bottom: 2px;
    width: 150px;
}

div>input {
    padding: 5px;
    margin-bottom: 2px;
    width: 400px;
}

div>select {
    padding: 5px;
    margin-bottom: 2px;
    width: 200px;
}

td>input {
    padding: 5px;
    margin-bottom: 2px;
    width: 200px;
}
